<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .test{
        color:red;
        }
        .test-p{
            border:1px solid green;
            padding:5px;
        }
    </style>
</head>
<body>
    <h1 class="test">Тестовое письмо</h1>
    <p class="test-p">
        Lorem ipsum — классический текст-«рыба». Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку.
    </p>
    <a href="https://market.yandex.ru/">Тестовая ссылка</a>
    <table>
      <tr>
        <td>таблица 1</td>
        <td>таблица 2</td>
      </tr>
         <tr>
        <td>таблица 1</td>
        <td>таблица 2</td>
      </tr>
    </table>
</body>
</html>